# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

src/golang.org/
src/9fans.net/
src/github.com/golang/
src/github.com/jstemmer/
src/github.com/kisielk/
src/github.com/rogpeppe/
src/github.com/nsf/
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

c.out

*.exe
*.test
*.prof
