{{define "index"}}
{{template "header"}}
    <form action="/game" method="get">
    <label for="FirstPlayer"></label>
    <select name="FirstPlayer" id="FirstPlayer">
      <option value="0">Human</option>
      <option value="1">Computer</option>
    </select>

    <select name="SecondPlayer" id="SecondPlayer">
      <option value="0">Human</option>
      <option value="1">Computer</option>
    </select>
    <input type="hidden" name="GameState" value=""/>
    <input type="submit" value="Start Game"/>
    </form>
{{template "footer"}}
{{end}}
