{{define "index"}}
{{template "header"}}
<h1 class="text-center">Welcome To Tic Tac Toe in Go</h1>
<div class="col-lg-4 col-lg-offset-4">
    <form action="/game" method="get">
      <input type="hidden" name="FirstPlayer" value="Human"/>
      <input type="hidden" name="SecondPlayer" value="Human"/>
      <input type="hidden" name="MovesPlayed" value=""/>
      <input type="hidden" name="BoardSize" value="3"/>
      <input type="submit" value="Play Human vs. Human" class="btn btn-block btn-success"/>
    </form>

    <form action="/game" method="get">
      <input type="hidden" name="FirstPlayer" value="Human"/>
      <input type="hidden" name="SecondPlayer" value="Computer"/>
      <input type="hidden" name="MovesPlayed" value=""/>
      <input type="hidden" name="BoardSize" value="3"/>
      <input type="submit" value="Play Human vs. Computer" class="btn btn-block btn-success"/>
    </form>

    <form action="/game" method="get">
      <input type="hidden" name="FirstPlayer" value="Computer"/>
      <input type="hidden" name="SecondPlayer" value="Human"/>
      <input type="hidden" name="MovesPlayed" value=""/>
      <input type="hidden" name="BoardSize" value="3"/>
      <input type="submit" value="Play Computer vs. Human" class="btn btn-block btn-success"/>
    </form>
</div>
{{template "footer"}}
{{end}}

