{{define "index"}}
{{template "header"}}
<h1 class="text-center">Welcome To Tic Tac Toe in Go</h1>
<div class="col-lg-4 col-lg-offset-4">
    <form action="/game" method="get">
      <div class="form-group">
    <label for="FirstPlayer">Select First Player:</label>
    <select class="form-control" name="FirstPlayer" id="FirstPlayer">
      <option value="Human">Human</option>
      <option value="Computer">Computer</option>
    </select>
      </div>
      <div class="form-group">
    <label for="SecondPlayer">Select Second Player:</label>
    <select class="form-control" name="SecondPlayer" id="SecondPlayer">
      <option value="Human">Human</option>
      <option value="Computer">Computer</option>
    </select>
      </div>
    <input type="hidden" name="MovesPlayed" value=""/>
    <input type="hidden" name="BoardSize" value="3"/>
    <input type="submit" value="Start Game" class="btn btn-block btn-success"/>
    </form>
</div>
{{template "footer"}}
{{end}}

